div#app {
    display: flex;
    height: 100vh;
    width: 100vw;

    justify-content: center;
    align-items: center;
}


button.button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background: unset;
    transition: all 0.3s;
}

/* hover */
button.button:hover {
    opacity: 0.8;
}

/* active */
button.button:active {
    opacity: 0.6;
}

div.vstack {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

div.hstack {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
*[data-padding="200"] {
    padding: 200px;
}

span.text {
    font-size: 24px;
    font-family: Arial, sans-serif;
}

*[data-background="red"] {
    background-color: red !important;
}

*[data-background="blue"] {
    background-color: blue !important;
}

*[data-background="green"] {
    background-color: green !important;
}

*[data-background="black"] {
    background-color: black !important;
}

*[data-background="yellow"] {
    background-color: yellow !important;
    color: black !important;
}

/* button has data-background color should be white */
button[data-background] {
    color: white;
}


*[data-foregroundStyle="blue"] {
    color: blue;
}

*[data-foregroundStyle="green"] {
    color: green;
}

*[data-foregroundStyle="red"] {
    color: red;
}

*[data-foregroundStyle="black"] {
    color: black;
}

/* const fontPreExp = {
  largeTitle: "largeTitle",
  title: "title",
  title2: "title2",
  title3: "title3",
  headline: "headline",
  subheadline: "subheadline",
  body: "body",
}; */

span.text[data-font="largeTitle"] {
    font-size: 34px;
}

span.text[data-font="title"] {
    font-size: 28px;
}

span.text[data-font="title2"] {
    font-size: 22px;
}

span.text[data-font="title3"] {
    font-size: 20px;
}

span.text[data-font="headline"] {
    font-size: 17px;
}

span.text[data-font="subheadline"] {
    font-size: 15px;
}

span.text[data-font="body"] {
    font-size: 13px;
}
