<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>swift2vue</title>
    {{#each styles}}
    <style>
      {{{this}}}
    </style>
    {{/each}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/naive-ui"></script>
  </head>
  <body>
    <div id="app"></div>
    <script type="module">
      // import {createApp, ref, provide, inject, watch, reactive, computed, onMounted} from "vue";
      const {createApp, ref, provide, inject, watch, reactive, computed, onMounted} = Vue;
      {{{ script }}}
    </script>
  </body>
</html>
