.group {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  /* center */
  justify-content: center;
  align-items: center;

  gap: 1em;
}

.vstack {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.hstack {
  display: flex;
  flex-direction: row;
  gap: .5em;
}

.text {
  /* using mono */
  font-family: 'Courier New', Courier, monospace;
}

button.button {
  /* using mono */
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;

  /* clear style */
  border: none;
  outline: none;
  background: none;

  transition: all .2s ease-in-out;
}

form.form {
  /* using mono */
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;

  /* clear style */
  border: none;
  outline: none;
  background: none;

  transition: all .2s ease-in-out;
}

input.text-field {
  /* using mono */
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;

  /* clear style */
  border: none;
  outline: none;
  background: none;

  transition: all .2s ease-in-out;

  /* ios style */
  background-color: #f2f2f7;
  padding: 10px;
  border-radius: 10px;

  &:focus {
    background-color: #e5e5ea;
  }
}

ul.list {
  font-size: 17px;

  & > li {
    list-style-type: none;
  }
}

label.color-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5em;

  & .clr-field > input {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  & .clr-field > button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  & .clr-field {
    height: 30px;
  }
}

label.date-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5em;
}

label.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5em;
}